{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
    
        <div class="row">
            <div class="col-md-8">
                <img src="{{ url_for('static', filename='images/index.jpg') }}" class="rounded img-fluid">
            </div>
            <div class="col-md-4">
                <div class="card mb-3 w-100 bg-light">
                    <div class="card-header"><h4>重置密码</h4></div>
                    <div class="card-body">
                        <form method="POST" class="form-horizontal">
                            {{ form.csrf_token }}
                            <div class="form-group">

                                <label for="inputEmail3" class="col-sm-6 control-label">{{ form.email.label }}</label>
                                <div class="col-sm-8">
                                {{ form.email }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                {{ form.submit }}
                                </div>
                            </div>

                        </form>
                        <hr>
                        <p class="small"><a href="{{ url_for('loginModule.register') }}">注册账号</a></p>
                        <p class="small"><a href="{{ url_for('loginModule.login') }}">登录系统</a></p>

                    </div>
                </div>
            </div>
        </div>
{% endblock %}
